@page "/"

<style>
    form.row {
        margin-bottom: 16px;
    }
</style>

    <UserInfoCard FirstName="Chaudhry" LastName="Talha" CompanyName="Nexarise"
                  Salary=5000 City="Lahore" Country="Pakistan" />

    <div class="row" style="display: flex;">
        <div class="col-md-6">
            @*<RadzenCard Style="width: auto; margin-right: 10px; height: auto !important; margin-bottom:20px; ">*@

                <RadzenTabs Change="@OnChange" RenderMode="TabRenderMode.Client" >
                    <Tabs>
                        <RadzenTabsItem Text="BarChart">
                            <BarChart />
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="PieChart">
                            <PieChart />
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            @*</RadzenCard>*@
        </div>
        <div class="col-md-6">

            <RadzenCard Style="width: auto; margin-left: 10px; height: auto !important; margin-bottom:20px; ">
                <Calculator />
            </RadzenCard>
        </div>
    </div>

    @code {
        void OnChange(int index)
        {
            Console.Write("Tab Changed!");
        }
    }


    @*<h1>Hello, world!</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
    *@
